<% layout("layout/boilerplate") %>
  <h1>All Campgrounds</h1>

  <a href="/campground/new">New Campground</a>

  <ul>
    <% for (let camp of campgrounds) { %>
      <li>
        <a href="/campground/<%= camp._id %>">
          <%= camp.title%>
        </a>
      </li>
      <%} %>
  </ul>