<% layout("layout/boilerplate") %>
  <h1>Add new Campgrounds</h1>

  <form action="/campground" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" name="title" id="name">
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" name="location" id="location">
    </div>

    <button>Submit</button>
  </form>

  <a href="/campground">All Campgrounds</a>